<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess Application</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>

<body class="bg-gray-100">

   
    <header class="bg-blue-900 text-white p-4 flex justify-between items-center shadow-md">
        <div class="text-2xl font-bold">♟️ ChessMate</div>
        
        <button id="nav-toggle" class="md:hidden text-white text-2xl">
            <i class="fa fa-bars"></i>
        </button>
    </header>


  


   

   
    <footer class="bg-blue-900 text-white text-center py-3 mt-6 shadow-md">
        <p>&copy; 2025 Chess Application | All Rights Reserved</p>
    </footer>

    <script>
   
        document.getElementById("nav-toggle").addEventListener("click", function () {
            document.getElementById("mobile-nav").classList.toggle("hidden");
        });

        document.getElementById("gameButton").addEventListener("click", function () {
            document.getElementById("homepage-content").classList.add("hidden");
            document.getElementById("game-setup").classList.remove("hidden");
        });

    
        function validateInput() {
            const codeInput = document.getElementById("codeInput").value;
            const errorMessage = document.getElementById("errorMessage");

            if (!codeInput) {
                errorMessage.textContent = "Please enter a game code";
                return false;
            } else {
                errorMessage.textContent = "";
                return true;
            }
        }

        
        document.getElementById("createGame").addEventListener("click", function () {
            if (validateInput()) {
                window.location.replace("/white?code=" + document.getElementById("codeInput").value);
            }
        });

        document.getElementById("joinGame").addEventListener("click", function () {
            if (validateInput()) {
                window.location.replace("/black?code=" + document.getElementById("codeInput").value);
            }
        });
    </script>

</body>

</html>
